{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-12">
        <div class="tabs is-toggle is-fullwidth" id="tabs">
            {% include 'system/base.html' %}
        </div>
        <div id="tab-content">
            <div data-content="1">
                
            </div>
            <div class="is-active" data-content="2">
                {% include 'system/_system_users.html' %}
            </div>
            <div data-content="3">
                Videos
            </div>
            <div data-content="4">
                Documents
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">
{% endblock %}

{% block custom_scripts %}
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}